body {
  background-color: #D7D1C9;
  width: 100%;
  font-family: Sanchez, sans-serif;
}


header {
  text-align: center; 
  padding: 1% 0% 1% 0%;
  margin-bottom: 6%; 
}

h1 {
  /* font-size: 80px; */
  font-size: 5em;
  font-weight: normal;
  margin-bottom: 0px;
} 

h2 {
  font-size: 40px;
  font-weight: normal;
} 

p {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}

#ital {
  font-style: italic;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
  padding: 0% 0% 0% 5%;
} 


/* ==== Cup ==== */

#coffee-cup, 
#espresso, 
#cappuccino, 
#cafe-latte, 
#flat-white, 
#americano,
#red-eye, 
#macchiato,
#cortado, 
#mocha {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  margin: 2% 2% 2% 2%;
  cursor: pointer;
} 

.cup-top {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.cup-top-mid {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    width: 220px;
    height: 120px;
    position: relative;
}

.cup-mid {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 220px;
    height: 60px;
    position: relative;
}

.cup-bottom {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 20px 20px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 300px;
    -webkit-border-bottom-left-radius: 300px;
    position: relative;
}

.cup-top-small {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.cup-mid-small {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 220px;
    height: 30px;
    position: relative;
}


.cup-top1 {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 220px;
    height: 80px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}


.cup-mid1 {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 220px;
    height: 80px;
    position: relative;
}

.cup-bottom1 {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 20px 20px;
    width: 220px;
    height: 80px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
}    

.cup-bottom2 {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 20px 20px;
    width: 220px;
    height: 120px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 80px;
    -webkit-border-bottom-left-radius: 80px;
    position: relative;
}

.cup-handle {
    position: absolute;
    left: 260px;
    bottom: 240px;
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 20px 20px;
    width: 50px;
    height: 95px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}

.label {
  font-family: Sanchez;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
  padding: 40px 74px 60px 0px;
}

/* ==== Ingredients ==== */

.espresso-color {
    background: rgba(40,23,0,1.0);
}

.coffee-color {
    background: rgba(56,32,1,1.0);
}

.milk-color {
    background: rgba(255,254,235,1.0);  
}

.water-color {
    background: rgba(64,164,223,0.23);  
}

.foam-color {
    /*  big polka dots
    background-color: none;
    background-image: radial-gradient(rgba(255,254,235,1) 18%, transparent 23%),
    radial-gradient(rgba(255,254,235,1) 18%, transparent 23%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px; 
    */
    background: /* small polka dots */
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
} 

.cream-color {
    background: rgba(255,254,235,1.0);  
}

.chocolate-color {
    background: rgba(88,56,41,1.0);
}


/* ==== Modal ==== */
 
#modal-espresso, 
#modal-cappuccino, 
#modal-cafe-latte, 
#modal-flat-white, 
#modal-americano,
#modal-red-eye, 
#modal-macchiato,
#modal-cortado, 
#modal-mocha {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#modal-show {
  display: block; 
}

.modal-content {
  background-color: #D7D1C9;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 0px 20px 50px 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 70%; 
  height: 0 auto;
}

.modal-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3%;
}

.modal-close {
  color: rgba(0,0,0,1);
  float: right;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(0,0,0,.5);
  text-decoration: none;
  cursor: pointer;  
}

.animation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  padding-top: 8%;
  margin: 2% 2% 2% 2%;
}

.desc {
  width: 50%;
} 

/* Next & previous buttons */

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(0,0,60,1);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}



/* ==== cup for animation ==== */ 


.cup-top-anime {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;
}

.cup-top-mid-anime {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    width: 220px;
    height: 120px;
    position: relative;
}

.cup-mid-anime {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;
}

.cup-top-small-anime {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 220px;
    height: 26.5px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.cup-mid-small-anime {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 220px;
    height: 26.5px;
    position: relative;
}

.cup-bottom-anime {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 20px 20px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 300px;
    -webkit-border-bottom-left-radius: 300px;
    position: relative;
    overflow: hidden;
}

.cup-handle-anime {
    position: absolute;
    left: 260px;
    bottom: 105px;
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 20px 20px;
    width: 50px;
    height: 95px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}


/* ========= ANIMATION ========= */

/* === espresso === */

.esp-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 60px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  position: relative;
  overflow: hidden;
}

.esp-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 


/* === cappuccino === */

.cap-cup-top1-anime {
  border-style: solid;
  border-color: black;
  border-width: 20px 20px 0px 20px;
  width: 220px;
  height: 80px;
  -webkit-border-top-right-radius: 35px;
  -webkit-border-top-left-radius: 35px;    
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  position: relative;
  overflow: hidden;
}

.cap-cup-top1-anime::before {
  content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 3.5s; 
}

.cap-cup-mid1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 80px;
  position: relative;
}

.cap-cup-mid1-anime::before {
  content: '';
  position: absolute;
  background: rgba(255,254,235,1.0);
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 2s; 
}

.cap-cup-bottom1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 80px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 80px;
  -webkit-border-bottom-left-radius: 80px;
  position: relative;
  overflow: hidden;
}

.cap-cup-bottom1-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === cafe latte === */

.latte-cup-top-anime {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;
}

.latte-cup-top-anime::before {
  content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 3.5s; 
}

.latte-cup-mid-anime {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 220px;
    height: 120px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;
}

.latte-cup-mid-anime::before {
  content: '';
  position: absolute;
  background: rgba(255,254,235,1.0);/* milk */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 2s; 
}

.latte-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 60px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  position: relative;
  overflow: hidden;
}

.latte-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === flat white === */

.fw-cup-top1-anime {
  border-style: solid;
  border-color: black;
  border-width: 20px 20px 0px 20px;
  width: 220px;
  height: 80px;
  -webkit-border-top-right-radius: 35px;
  -webkit-border-top-left-radius: 35px;    
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  position: relative;
  overflow: hidden;
}

.fw-cup-top1-anime::before {
  content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px; 
  width: 100%;
  bottom: 0; 
  animation: brew3 .5s linear forwards;
  animation-delay: 3.5s; 
}

.fw-cup-mid1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 80px;
  position: relative;
}

.fw-cup-mid1-anime::before {
  content: '';
  position: absolute;
  background: rgba(255,254,235,1.0);
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 2s; 
}

.fw-cup-bottom1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 80px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 80px;
  -webkit-border-bottom-left-radius: 80px;
  position: relative;
  overflow: hidden;
}

.fw-cup-bottom1-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === americano === */


.amer-cup-mid1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 120px;
  position: relative;
}

.amer-cup-mid1-anime::before {
  content: '';
  position: absolute;
  background: rgba(64,164,223,0.2);  
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 2s; 
}

.amer-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 60px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  position: relative;
  overflow: hidden;
}

.amer-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === red eye === */


.re-cup-mid1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 120px;
  position: relative;
}

.re-cup-mid1-anime::before {
  content: '';
  position: absolute;
  background: rgba(56,32,1,1.0);  
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 2s; 
}

.re-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 60px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  position: relative;
  overflow: hidden;
}

.re-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 


/* === macchiato === */


.mac-cup-mid-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 120px;
  position: relative;
}

.mac-cup-mid-anime::before {
content: '';
  position: absolute;
  background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
  width: 100%;
  bottom: 0; 
  animation: brew3 1.5s linear forwards;
  animation-delay: 2s; 
}

.mac-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 60px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  position: relative;
  overflow: hidden;
}

.mac-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === cortado === */


.cor-cup-mid-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 60px;
  position: relative;
}

.cor-cup-mid-anime::before {
content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px; 
  width: 100%;
  bottom: 0; 
  animation: brew2 1.5s linear forwards;
  animation-delay: 2s; 
}

.cor-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 60px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 300px;
  -webkit-border-bottom-left-radius: 300px;
  position: relative;
  overflow: hidden;
}

.cor-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === mocha === */

.moc-cup-top-anime {
  border-style: solid;
  border-color: black;
  border-width: 20px 20px 0px 20px;
  width: 220px;
  height: 30px;
  -webkit-border-top-right-radius: 35px;
  -webkit-border-top-left-radius: 35px;    
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  position: relative;
  overflow: hidden;
}

.moc-cup-top-anime::before {
  content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px; 
  width: 100%;
  bottom: 0; 
  animation: brew 1s linear forwards;
  animation-delay: 5s; 
}

.moc-cup-mid1-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 30px;
  position: relative;
}

.moc-cup-mid1-anime::before {
  content: '';
  position: absolute;
  background: rgba(88,56,41,1.0);  
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 3.5s; 
}

.moc-cup-mid2-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 0px 20px;
  width: 220px;
  height: 60px;
  position: relative;
}

.moc-cup-mid2-anime::before {
  content: '';
  position: absolute;
  background: rgba(255,254,235,1.0);  
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: 2s; 
}

.moc-cup-mid-anime::before {
  content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
  width: 100%;
  bottom: 0; 
  animation: brew2 1.5s linear forwards;
  animation-delay: 2s; 
}

.moc-cup-mid-anime::before {
content: '';
  position: absolute;
    background:
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
  width: 100%;
  bottom: 0; 
  animation: brew2 1.5s linear forwards;
  animation-delay: 2s; 
}

.moc-cup-bottom-anime {
  border-style: solid;
  border-color: black;
  border-width: 0px 20px 20px 20px;
  width: 220px;
  height: 120px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;    
  -webkit-border-bottom-right-radius: 80px;
  -webkit-border-bottom-left-radius: 80px;
  position: relative;
  overflow: hidden;
}

.moc-cup-bottom-anime::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* ==== animation keyframes ==== */


@keyframes brew {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;  
  }
}

@keyframes brew2 {
  0% {
    height: 0%;
  }

  100% {
    height: 85%;  
  }
}

@keyframes brew3 {
  0% {
    height: 0%;
  }

  100% {
    height: 25%;  
  }
}







