/* fonts:

font-family: 'Sanchez', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Fjalla One', sans-serif;

*/

body {
  background-color: #D7D1C9;
  font-family: Sanchez, sans-serif;
  margin: 2% 0% 0% -2%;
  width: 100%;
}

header {
  text-align: center; 
  padding: 1% 5% 1% 5%;
  margin-bottom: 5%; 
}

h1 {
  font-size: 5rem;
  font-weight: normal;
  margin-bottom: 0px;
} 

h2 {
  font-size: 2rem;
  font-weight: normal;
} 

h3 {
  font-size: 1.3rem;
  font-weight: normal;
}

p {
  width: 100%;
  padding-bottom: 10px;
  margin: 0;
}

#title {
  font-family: Fjalla One;
  font-size: 6rem;
  font-weight: normal;
  /* line-height: 10rem;
  letter-spacing: 0rem; */
} 

#definition {
  font-family: Oswald;
  font-size: 1.35rem;
  line-height: 3rem;
  font-weight: 100;
}

#ital {
  font-style: italic;
}

#tagline {
  font-family: Oswald;
  font-size: 2.5rem;
  line-height: 5rem;
  font-weight: normal;
  text-transform: capitalize;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
  padding: 0% 0% 0% 5%;
} 

.desc ul li {
  margin-left: -20px; 
}

/* ==== Cup  ==== */

#coffee-cup, 
#espresso, 
#cappuccino, 
#cafe-latte, 
#flat-white, 
#americano,
#red-eye, 
#macchiato,
#cortado, 
#mocha {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 330px; 
  /* width: 26%;*/
  margin: 2% 2% 2% 2%;
  cursor: pointer;
  /* border: 5px solid black; */
} 

/* === Cup - total size: w:220px, h:240px ; === */

/* top */

.cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cup-top-md {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px; 
    height: 60px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px; 
    height: 90px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

/* Mid */

.cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 60px;
    position: relative;
    overflow: hidden;    
}

.cup-mid-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 90px;
    position: relative;
    overflow: hidden;    
}

.cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 120px;
    position: relative;
    overflow: hidden;    
}

/* Bottom */

.cup-bottom-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}
.cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 90px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

/* Handle */

.cup-handle {
    position: absolute;
    left: 250px;
    bottom: 225px;
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 15px 15px;
    width: 57px;
    height: 75px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}

.label {
    font-family: Sanchez;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}

/* ==== Espresso Ingredients ==== */

.espresso-color {
    background: rgba(40,23,0,1.0);
}

.coffee-color {
    background: rgba(56,32,1,1.0);
}

.milk-color {
    background: rgba(255,254,235,1.0);  
}

.water-color {
    background: rgba(64,164,223,0.23);  
}

.foam-color {
    /*  big polka dots
    background-color: none;
    background-image: radial-gradient(rgba(255,254,235,1) 18%, transparent 23%),
    radial-gradient(rgba(255,254,235,1) 18%, transparent 23%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px; 
    */
    background: /* small polka dots */
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: none;
    background-size: 17px 17px;
} 

.cream-color {
    background: rgba(255,254,235,1.0);  
}

.chocolate-color {
    background: rgba(88,56,41,1.0);
}


/* ====== Modal ====== */
 
#modal-espresso, 
#modal-cappuccino, 
#modal-cafe-latte, 
#modal-flat-white, 
#modal-americano,
#modal-red-eye, 
#modal-macchiato,
#modal-cortado, 
#modal-mocha {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#modal-show {
  display: block; 
}

.modal-content {
  background-color: #D7D1C9;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 0px 20px 50px 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 70%; 
  height: 0 auto;
}

.modal-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3%;
}

.modal-close {
  color: rgba(0,0,0,1);
  float: right;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  color: rgba(255,255,255,.5);
  text-decoration: none;
  cursor: pointer;  
}

.animation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  padding-top: 8%;
  margin: 2% 2% 2% 2%;
}

.desc {
  width: 50%;
} 

/* Next & previous buttons */

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(0,0,60,1);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}


/* ========= ANIMATION ========= */

.cup-handle-anime {
    position: absolute;
    left: 250px;
    bottom: 140px;
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 15px 15px;   
    width: 57px;
    height: 75px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}


/* === espresso === */

.esp-cup-top-md {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px; 
    height: 80px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.esp-cup-mid-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 80px;
    position: relative;
}

.esp-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 80px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;
}

.esp-cup-bottom-lg::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 


/* === cappuccino === */

.cap-cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px; 
    height: 90px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cap-cup-top-lg::before {
    content: '';
    position: absolute;
    background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px;
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.cap-cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 60px;
    position: relative;
    overflow: hidden;    
}

.cap-cup-mid-md::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.cap-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 90px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cap-cup-bottom-lg::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === cafe latte === */

.cl-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cl-cup-top-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px;
    width: 100%;
    bottom: 0; 
    animation: brew 3s linear forwards;
    animation-delay: 3.5s; 
}

.cl-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 120px;
    position: relative;
    overflow: hidden;    
}

.cl-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);/* milk */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.cl-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 90px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cl-cup-bottom-lg::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === flat white === */

.fw-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-mid-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px; 
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.fw-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 120px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.fw-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === americano === */

.am-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.am-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.am-cup-mid-sm::before {
    content: '';
    position: absolute;
    background: rgba(64,164,223,0.2);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.am-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 120px;
    position: relative;
    overflow: hidden;    
}

.am-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(64,164,223,0.2);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.am-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.am-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === red eye === */

.re-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.re-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.re-cup-mid-sm::before {
    content: '';
    position: absolute;
    background: rgba(56,32,1,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.re-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 120px;
    position: relative;
    overflow: hidden;    
}

.re-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(56,32,1,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.re-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.re-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 


/* === macchiato === */


.mac-cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px; 
    height: 90px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 60px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-mid-sm::before {
    content: '';
    position: absolute;
    background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px;
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.mac-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === cortado === */

.cor-cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px; 
    height: 90px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-mid-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px; 
    width: 100%;
    bottom: 0; 
    animation: brew1 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.cor-cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 60px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-mid-md::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.cor-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === mocha === */

.moc-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 220px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-top-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px; 
    width: 100%;
    bottom: 0; 
    animation: brew 1s linear forwards;
    animation-delay: 5s; 
}

.moc-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-mid-sm::before {
    content: '';
    position: absolute;
    background: rgba(88,56,41,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.moc-cup-mid-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 220px;
    height: 90px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-mid-lg::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.moc-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 220px;
    height: 90px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-bottom-lg::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ==== animation keyframes ==== */


@keyframes brew {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;  
  }
}

@keyframes brew1 {
  0% {
    height: 0%;
  }

  100% {
    height: 85%;  
  }
}







/* ====== RESPONSIVE  ====== */


@media screen 
  and (min-width: 300px)
  and (max-width: 750px) {

.container {
  width: 100%;
  padding-top: 5%;
}  

#coffee-cup {
  padding: 0;
  width: 250px;
}

#title {
  font-size: 5rem;
  text-align: center;
  padding-left: 5%;
}   

h2 {
  text-align: center;
  font-size: 1.9rem;
}

h3 {
  text-align: center;
}

.animation {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  padding-top: 25%;
  margin: 2% 2% 2% 2%;
}

.desc {
  width: 90%;
  padding-left: 10%;
  text-align: justify;
}


/* Position the "previous/next button" */

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 10px;
  color: rgba(0,0,60,1);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.previous {
  left: 8%;
}

.next {
  right: 8%;
}



/* === Responsive Cup === */

/* responsive top */

.cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 180px;
    height: 20px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cup-top-md {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 180px; 
    height: 50px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 0px 15px;
    width: 180px; 
    height: 80px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

/* Responsive Mid */

.cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 180px;
    height: 20px;
    position: relative;
    overflow: hidden;    
}

.cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 180px;
    height: 50px;
    position: relative;
    overflow: hidden;    
}

.cup-mid-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 180px;
    height: 80px;
    position: relative;
    overflow: hidden;    
}

.cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 0px 15px;
    width: 180px;
    height: 115px;
    position: relative;
    overflow: hidden;    
}

/* Responsive Bottom */

.cup-bottom-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 180px;
    height: 20px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 180px;
    height: 50px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}
.cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 15px 15px 15px;
    width: 180px;
    height: 80px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

/* Responsive Handle */

.cup-handle {
    position: absolute;
    left: 210px;
    bottom: 200px;
    border-style: solid;
    border-color: black;
    border-width: 15px 15px 15px 15px;
    width: 47px;
    height: 70px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}



/* ========= RESPONSIVE ANIMATION ========= */

/* Responsive anime Handle */

.cup-handle-anime {
    position: absolute;
    left: 190px;
    bottom: 95px;
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 10px 10px;   
    width: 40px;
    height: 60px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}


/* === res. espresso === */

.esp-cup-top-md {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px; 
    height: 60px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.esp-cup-mid-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 60px;
    position: relative;
}

.esp-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;
}

.esp-cup-bottom-lg::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 


/* === res cappuccino === */

.cap-cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px; 
    height: 70px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cap-cup-top-lg::before {
    content: '';
    position: absolute;
    background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px;
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.cap-cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 40px;
    position: relative;
    overflow: hidden;    
}

.cap-cup-mid-md::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.cap-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 70px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cap-cup-bottom-lg::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === res cafe latte === */

.cl-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cl-cup-top-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px;
    width: 100%;
    bottom: 0; 
    animation: brew 3s linear forwards;
    animation-delay: 3.5s; 
}

.cl-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 80px;
    position: relative;
    overflow: hidden;    
}

.cl-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);/* milk */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.cl-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 70px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cl-cup-bottom-lg::before {
  content: '';
  position: absolute;
  background: rgba(40,23,0,1.0); /* espresso color */
  width: 100%;
  bottom: 0; 
  animation: brew 1.5s linear forwards;
  animation-delay: .5s; 
} 

/* === res flat white === */

.fw-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px;
    height: 30px;
    -webkit-border-top-right-radius: 35 px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 10px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-mid-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px; 
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.fw-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 80px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.fw-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 95px;
    -webkit-border-bottom-left-radius: 95px;
    position: relative;
    overflow: hidden;    
}

.fw-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === res americano === */

.am-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.am-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 20px;
    position: relative;
    overflow: hidden;    
}

.am-cup-mid-sm::before {
    content: '';
    position: absolute;
    background: rgba(64,164,223,0.2);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.am-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 70px;
    position: relative;
    overflow: hidden;    
}

.am-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(64,164,223,0.2);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.am-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.am-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === res red eye === */

.re-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.re-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 10px;
    position: relative;
    overflow: hidden;    
}

.re-cup-mid-sm::before {
    content: '';
    position: absolute;
    background: rgba(56,32,1,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.re-cup-mid-xlg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 80px;
    position: relative;
    overflow: hidden;    
}

.re-cup-mid-xlg::before {
    content: '';
    position: absolute;
    background: rgba(56,32,1,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.re-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.re-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 


/* === res macchiato === */


.mac-cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px; 
    height: 30px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 60px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-mid-sm::before {
    content: '';
    position: absolute;
    background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px;
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.mac-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.mac-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === res cortado === */

.cor-cup-top-lg {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px; 
    height: 40px; 
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 40px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-mid-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px; 
    width: 100%;
    bottom: 0; 
    animation: brew1 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.cor-cup-mid-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 40px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-mid-md::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.cor-cup-bottom-md {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.cor-cup-bottom-md::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 

/* === res mocha === */

.moc-cup-top-sm {
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 0px 10px;
    width: 165px;
    height: 30px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-top-sm::before {
    content: '';
    position: absolute;
      background:
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 0 0,
      radial-gradient(rgba(255,254,235,1) 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
      background-color: none;
      background-size: 17px 17px; 
    width: 100%;
    bottom: 0; 
    animation: brew 1s linear forwards;
    animation-delay: 5s; 
}

.moc-cup-mid-sm {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 30px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-mid-sm::before {
    content: '';
    position: absolute;
    background: rgba(88,56,41,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 3.5s; 
}

.moc-cup-mid-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 0px 10px;
    width: 165px;
    height: 60px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-mid-lg::before {
    content: '';
    position: absolute;
    background: rgba(255,254,235,1.0);  
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: 2s; 
}

.moc-cup-bottom-lg {
    border-style: solid;
    border-color: black;
    border-width: 0px 10px 10px 10px;
    width: 165px;
    height: 60px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    position: relative;
    overflow: hidden;    
}

.moc-cup-bottom-lg::before {
    content: '';
    position: absolute;
    background: rgba(40,23,0,1.0); /* espresso color */
    width: 100%;
    bottom: 0; 
    animation: brew 1.5s linear forwards;
    animation-delay: .5s; 
} 


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

};

















