body {
  background-color: #D7D1C9;
  width: 100%;
  font-family: Sanchez, sans-serif;
}


header {
  text-align: center; 
  padding: 1% 0% 1% 0%;
  margin-bottom: 6%; 
}

h1 {
  font-size: 80px;
  font-weight: normal;
  margin-bottom: 0px;
} 

h2 {
  font-size: 40px;
  font-weight: normal;
} 

.container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap;
  padding: 0% 0% 0% 5%;
} 


/* ==== Cup ==== */

#coffee-cup, 
#espresso, 
#cappucino, 
#cafe-latte, 
#flat-white, 
#americano,
#red-eye, 
#macchiato,
#cortado, 
#mocha {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  margin: 2% 2% 2% 2%;
} 

.cup-top {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 210px;
    height: 53px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.cup-top-mid {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    width: 210px;
    height: 106px;
    position: relative;
}

.cup-mid {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 210px;
    height: 53px;
    position: relative;
}

.cup-bottom {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 20px 20px;
    width: 210px;
    height: 53px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;    
    -webkit-border-bottom-right-radius: 300px;
    -webkit-border-bottom-left-radius: 300px;
    position: relative;
}

.cup-top-small {
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 0px 20px;
    width: 210px;
    height: 26.5px;
    -webkit-border-top-right-radius: 35px;
    -webkit-border-top-left-radius: 35px;    
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    position: relative;
}

.cup-mid-small {
    border-style: solid;
    border-color: black;
    border-width: 0px 20px 0px 20px;
    width: 210px;
    height: 26.5px;
    position: relative;
}

.cup-handle {
    position: absolute;
    left: 250px;
    bottom: 220px;
    border-style: solid;
    border-color: black;
    border-width: 20px 20px 20px 20px;
    width: 50px;
    height: 95px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -webkit-border-bottom-left-radius: 30px;
    margin-left: -15px;
    overflow: hidden;
}

.label {
  font-family: Sanchez;
  font-size: 23px;
  font-weight: normal;
  text-align: center;
  padding: 40px 74px 60px 0px;
}

/* ==== Ingredients ==== */

.espresso-color {
    background: rgba(40,23,0,1.0);
}

.coffee-color {
    background: rgba(56,32,1,1.0);
}

.milk-color {
    background: rgba(255,254,235,1.0);  
}

.water-color {
    background: rgba(64,164,223,0.2);  
}

.foam-color {
    /* background: rgba(255,255,255,1.0); */
    background-color:none;
    background-image: radial-gradient(rgba(255,254,235,1) 18%, transparent 23%),
    radial-gradient(rgba(255,254,235,1) 18%, transparent 23%);
    background-size: 20px 20px;
    background-position: 0 0, 30px 30px; 
} 

.cream-color {
    background: rgba(255,254,235,1.0);  
}

.chocolate-color {
    background: rgba(88,56,41,1.0); 
}


/* ==== Cup Text ==== 

.desc {
  font-size: 16px;
  color: black; 
  text-align: center;
  line-height: 50px;
}

.desc2 {
  font-size: 16px;
  color: white; 
  text-align: center;
  line-height: 50px;
}

.desc3 {
  font-size: 16px;
  color: black; 
  text-align: center;
  line-height: 0px;
}

.desc4 {
  font-size: 16px;
  color: white; 
  text-align: center;
  line-height: 0px;
}

.desc-small {
  font-size: 16px;
  color: black; 
  text-align: center;
  line-height: 25px;
}

*/

/* ==== Modal ==== */

#modal-espresso, 
#modal-espresso, 
#modal-cappucino, 
#modal-cafe-latte, 
#modal-flat-white, 
#modal-americano,
#modal-red-eye, 
#modal-macchiato,
#modal-cortado, 
#modal-mocha {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#modal-show {
  display: block; 
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 70%; 
  height: 70%;
}

.modal-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animation{
    width: 50%;
}

.desc {
    width: 50%;

}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



































